.idea/
JavaChatServer.iml
client-session-service.iml
dialog-service.iml
/client-session-service/target/
/dialog-service/target/
/contact-service/contact-service.iml
/common/common.iml
/network-service/network-service.iml
/autorization-service/autorization-service.iml
/server-runner/server-runner.iml
/server-runner/target/
/client-api/client-api.iml
/autorization-service/target/
